<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> 
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/static/css/mystyle.css"> 
    <title>Portfolio Viewer</title>
    <div class="w3-bar w3-border w3-light-grey">
        {% for port in ports %}
            <a href="/{{port}}" class="w3-bar-item w3-button w3-mobile w3-hide-small">{{ port }}</a> 
        {% endfor%}
        <a href="/update/{{page}}" class="w3-bar-item w3-button w3-right w3-mobile w3-hide-small" >UPDATE</a>
        <a href="/{{page}}"        class="w3-bar-item w3-button w3-right w3-mobile w3-hide-small">{{ page }}</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction()">&#9776;</a>
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
        {% for port in ports %}
            <a href="/{{port}}" class="w3-bar-item w3-button w3-mobile">{{ port }}</a> 
        {% endfor%}
        <a href="/update/{{page}}" class="w3-bar-item w3-button w3-right w3-mobile w3-hide-small" >UPDATE</a>
        <a href="/{{page}}"        class="w3-bar-item w3-button w3-right w3-mobile w3-hide-small">{{ page }}</a>
    </div>
</head>
<body>
    <table class="w3-table-all">
        <tr>
            <th><a href="/name/{{page}}">TICKER</a></th>
            <th class="w3-right-align"><a href="/shares/{{page}}">SHARES</a></th>
            <th class="w3-right-align"><a href="/price/{{page}}">PRICE</a></th>
            <th class="w3-right-align"><a href="/last/{{page}}">LAST</a></th>
            <th class="w3-right-align"><a href="/delta/{{page}}">CHANGE</a></th>
            <th class="w3-right-align"><a href="/percent/{{page}}">%</a></th>
            <th class="w3-right-align">TIME</th>
        </tr>
        {% for ticker in tickers %}
            <tr>
                <th>{{ ticker.to_dict()['ticker'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['shares'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['price'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['last'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['delta'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['percent'] }}</th>
                <th class="w3-right-align">{{ ticker.to_dict()['stamp'] }}</th>
            </tr>
        {% endfor%}
    </table>
 
<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else { 
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
